body {
  background-color: black;
  background-image: url("ImageResources/BackgroundTex/GuroFenceBG.png"), url("ImageResources/BackgroundTex/GuroMetalBG.png");
}

h1 {
  color: red;
  font-family: Tahoma;
  font-style: italic;
  border-style: solid;
  border-color: darkred;
  border-width: 4px;
}

p {
  color: yellow;
  font-family: Tahoma;
}

a:link {
  color: white;
}

a:visited {
  color: blue;
}

a:hover {
  color: red;
}

a:active {
  color: darkred;
}

.header {
	height: 256px;
	background-image: url("ImageResources/AbyssalFearMoonrune.png");
	background-position: left;
	background-repeat: no-repeat;
}

.navbar {
  overflow: hidden;
  background-color: darkred;
  background-image: url("ImageResources/BackgroundTex/GuroMetalBG.png");
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Tahoma;
}

.navbar a:hover {
  overflow: hidden;
  background-color: #111111;
  color: yellow;
}