body {
  background-color: black;
}

h1 {
  color: red;
  font-family: Tahoma;
  font-style: italic;
}

p {
  color: yellow;
  font-family: Tahoma;
}

a:link {
  color: white;
}

a:visited {
  color: blue;
}

a:hover {
  color: red;
}

a:active {
  color: darkred;
}

.header {
	height: 256px;
	background-image: url('https://files.catbox.moe/13nsdw.png');
	background-position: left;
	background-repeat: no-repeat;
}